/* 
    Created on : 03 mars 2020
    Author     : Franck J.
*/
/*------------------------------- 
        Main components
--------------------------------- */
body {
    padding-top: 50px;
    background-color: lightgray;
}