/* 
    Created on : 03 mars 2020
    Author     : Franck J.
*/
.myNavbar-bg {
    background-color: #cc3423;
    border-color: #94261a;
}

.myNav-logo {
    color: white;
}

.my-header-bg {
    height: 50vh;
    min-height: 500px;
    background-image: url('/img/header/bar-beer.jpg');
    background-size: cover;
    color: #fc9816;
}

.quote-text {
    text-shadow: 2px 2px 3px #000;
}

.logo {
    padding-top: 35px;
    text-align: center;
}

.line {
    padding-top: 65px;
}

hr {
    border-top: 1px solid #fc9816 !important;
}