/* 
    Created on : 03 mars 2020
    Author     : Franck J.
*/
body,
html {
    height: 100%;
    background-color: #c98224;
}

.parallax {
    position: relative;
    opacity: 0.85;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.bgimg-1 {
    background-image: url("/img/homepage/voodoo-Ranger.png");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("/img/homepage/barrels-on-trailers.png");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("/img/homepage/beer-from-barrel.png");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("/img/homepage/glass-beer-on-bar.png");
    min-height: 400px;
}

.text-light-bg {
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.text-dark-bg {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}